<template>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
            d="M427.425 75.53l18.1-18.1-13.7-13.7-18.1 18.1zm-182.451 57.603l16.295-16.294-8.938-19.092 61.44-61.44 19.092 8.937L352.107 26l23.153 23.153-118.174 118.174zM227.92 396.946l-85.342 85.342c-4.95 4.95-12.974 4.95-17.923 0l-39.1-39.101 94.287-94.288 48.062 48.063zm-155.244 33.33l-17.415-17.414c-4.95-4.95-4.95-12.974 0-17.923L388.154 62.047l26.377 26.376-341.87 341.87zM427.433 101.31L192.76 335.981l49.755 49.755 54.276-29.117a25.814 25.814 0 0 0 6.076-4.464l35.757-35.757c10.476-10.476 16.996-29.632 19.067-49.19.508-4.74.752-9.506.733-14.273-.04-7.938 2.716-13.676 6.56-17.52 7.785-7.784 20.002-7.8 22.371-2.53.258.58 4.038 9.276 6.995 16.085 1.705 3.908 6.808 4.875 9.824 1.862l25.708-25.708c10.009-10.009 9.55-23.588 5.745-35.87-4.085-13.191-12-24.893-15.879-30.34-3.88-5.448-3.233-12.419 1.204-16.86l5.408-5.407c5.096-5.096 13.358-5.096 18.454 0l5.295 5.295a4.844 4.844 0 0 0 6.802-.049l2.12-2.12a4.844 4.844 0 0 0 0-6.85l-31.607-31.606zM303.27 302.16c-12.821 16.19-32.396 22.129-43.662 13.2-11.267-8.93-9.977-29.318 2.844-45.508 12.822-16.19 32.397-22.13 43.663-13.2 11.266 8.928 9.993 29.301-2.853 45.515zm91.902-127.99c8.784 8.784 8.236 23.58-1.225 33.04-9.46 9.462-24.257 10.01-33.04 1.226-8.785-8.784-8.237-23.58 1.224-33.041 9.461-9.461 24.257-10.01 33.041-1.225z"
        />
    </svg>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component
export default class IconWeaponAssaultRifle extends Vue {

}
</script>

<style scoped>

</style>
