<template>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
            d="M77.637 19.54l108.717 144.544C145.316 176.7 91.09 152.704 40.102 132.53c40.576 32.116 110.02 65.16 103.662 97.53-6.637 33.79-75.205 49.33-121.065 72.52 46.032-5.046 91.778-21.09 120.15-9.78L18.38 347.136v20.39l138.388-60.41c2.133 14.26-9.665 37.273-22.043 55.985 22.007-10.08 46.61-21.938 65.523-22.06l-88.396 153.774h21.554l85.24-148.283c.553.434 1.093.892 1.616 1.382 33.55 31.47 34.284 87.542 43.888 141.225 9.885-54.016 13.682-119.31 41.846-138.094 16.562-11.047 96.26 29.193 143.596 57.07-22.238-21.752-82.32-73.64-85.68-95.812l129.744 65.993v-20.967L373.928 296.43c15.57-11.084 41.937-10.558 69.68-9.85-24.522-9.618-58.892-23.885-65.766-41.35l115.814-14.85v-18.843L380.154 226.09c14.736-32.777 66.75-61.05 108.05-93.555-49.74 19.266-106.767 55.532-135.92 41.254L493.655 31.177v-11.64H478.88L338.847 160.8c-18.24-30.214-6.765-92.786-3.715-141.26h-1.612C310.903 69.054 293.7 132.87 265 145.722c-17.43 7.805-35.296-38.196-47.615-67.204-2.256 29.66.042 60.142-14.79 76.07L101.022 19.54H77.638zM264.99 164.856c14.46-.133 28.89 7.536 38.207 19.274l-37.6 39.634-32.01-42.682c8.894-11.298 20.157-16.12 31.403-16.225zm-63.12 19.854l27.67 36.79-24.913 14.285 11.115 25.197-41.054 17.92c-7.104-35.84-1.95-70.025 27.18-94.19zm123.444 5.81c13.297 3.537 23.613 20.006 22.25 32.79h-.002l-40.875 12.2-14.755 1.892 33.382-46.882zm-27.04 60.994l60.404 1.707c3.703 9.603.78 23.42-6.65 32.07l-33.456-17.015-20.3-16.76zm-57.426 18.9l-32.82 57.094c-15.34-7.173-26.714-18.043-29.585-29.854l62.405-27.24zm21.537.027l52.084 28.67c-20.86 34.903-58.097 41.72-88.45 34.593l36.365-63.262z"
        />
    </svg>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component
export default class IconExplosion extends Vue {

}
</script>

<style scoped>

</style>
