<template>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
        <path
            d="M256 26.398c-7.868 0-14.99 3.637-20.34 8.782s-9.4 11.752-12.855 19.24c-6.91 14.975-11.39 33.74-14.6 52.39-6.418 37.3-7.402 74.217-7.402 74.217l-.145 5.24 55.344 27.67 55.34-27.67-.145-5.24s-.984-36.916-7.402-74.216c-3.21-18.65-7.69-37.415-14.6-52.39-3.454-7.488-7.505-14.095-12.855-19.24-5.35-5.145-12.472-8.782-20.34-8.782zm0 18c2.683 0 4.917.923 7.863 3.756 2.946 2.833 6.132 7.62 8.987 13.807 5.71 12.377 10.14 30.084 13.207 47.903 5.386 31.304 6.567 58.97 6.838 66.194L256 195.86l-36.895-19.803c.27-7.224 1.452-34.89 6.838-66.194 3.066-17.82 7.497-35.526 13.207-47.902 2.855-6.187 6.04-10.973 8.987-13.806 2.946-2.833 5.18-3.756 7.863-3.756zm-76.477 88.393l-10.54 37.64 10.908 5.453 4.303-1.434c.554-9.283 1.37-19.92 2.565-31.28zm152.954 0l-7.235 10.38a698.637 698.637 0 0 1 2.565 31.28l4.302 1.433 10.906-5.453zM70.8 158.995L21.386 480.176l81.047-208.41-14.973-44.92 17.08-5.692 14.476 43.432 25.144 6.867 4.492-62.914zm370.4 0L363.35 208.54l4.52 63.28 25.095-7.17 14.498-43.496 17.08 5.692-14.976 44.922 81.05 208.408zM168.02 190.072L146.308 494h13.842l62.332-194.79-20.845-20.847 12.726-12.726 14.29 14.29 16.425-51.325zm175.964 0l-77.06 38.53 16.424 51.326 14.29-14.29 12.727 12.725-20.845 20.846L351.85 494h13.84zM256 253.532l-22.174 69.288L256 326.852l22.172-4.032zm-138.55 29.286l-6.845 17.598 31.082 5.65 1.165-16.31zm277.136.09l-25.408 7.26 1.135 15.898 31.082-5.65zm-267.938 38.72L95.705 432.145l42.81-81.654 1.88-26.36zm258.704 0l-13.748 2.5 1.882 26.362 42.81 81.654zm-140.66 21.464L256 427.896l11.307-84.804L256 345.148z"
        />
    </svg>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component
export default class IconSmallEnemy extends Vue {

}
</script>

<style scoped>

</style>
