<template>
    <article style="width: 75%; margin: auto; position: relative;" class="app">
        <!--<debug-panel v-model="enemiesList"/>-->

        <enemy-field
            :height="fieldHeight"
            :width="fieldWidth"
            :reticle="reticle"
            :enemies="enemies"
            :active="!battleFinished"
            :cell-size="75"
            @fire="onFire"
        />

        <ul class="fighters">
            <fighter-item
                v-for="(fighter, index) of fighters"
                :active="!battleFinished"
                :key="index"
                :fighter="fighter"
                :current-weapon="currentWeapon"
                @aim="onAim"
            />
        </ul>

        <!--<battle-finished
            v-if="battleFinished"
            :is-win="isWin"
            :is-loose="isLoose"
            @replay="replay"
        />-->
    </article>
</template>

<script lang="ts">
import {Component, Vue, Watch, Prop} from 'vue-property-decorator';

import {Fighter} from '@/Fighter';
import {Weapon, WeaponName} from '@/Weapon';
import {Enemy, EnemyName} from '@/Enemy';
import FighterItem from '@/components/FighterItem.vue';
import EnemyField from '@/components/EnemyField.vue';
import {IPos} from '@/IPos';
// import BattleFinished from '@/components/BattleFinished.vue';
// import DebugPanel from '@/components/DebugPanel.vue';

function parseEnemyList(enemiesList: string): EnemyName[] {
    return enemiesList.trim().split(/\s+/) as EnemyName[];
}

@Component({
    components: {
        // BattleFinished,
        // DebugPanel,
        EnemyField,
        FighterItem,
    },
})
export default class App extends Vue {
    @Prop({
        type: String,
        validator(value: any): boolean {
            const parsed = parseEnemyList(value as string);
            return parsed.length > 0;
        }
    })
    enemiesList!: string;

    @Prop({
        type: Object,
        validator(value: any): boolean {
            return value && Object.keys(value).length > 0;
        }
    })
    fightersList!: Record<string, WeaponName[]>;

    fighters: Fighter[] = [];

    enemies: Enemy[] = [];

    fieldHeight = 6;

    currentWeapon: Weapon | null = null;

    created() {
        this.fillData();
    }

    @Watch('enemiesList')
    onEnemiesListChange(): void {
        this.replay();
    }

    fillData() {
        this.fighters = Object.keys(this.fightersList).map((name: string) => {
            return new Fighter(name, this.fightersList[name])
        });

        const enemyNames = parseEnemyList(this.enemiesList);
        this.enemies = enemyNames.map((enemyName: EnemyName, x) => Enemy.create((enemyName), {x, y: 0}))

        this.currentWeapon = null;
    }

    replay() {
        this.fillData();
    }

    get fieldWidth(): number {
        return this.enemies.length;
    }

    get reticle(): number {
        if (this.currentWeapon) {
            return this.currentWeapon.size;
        } else {
            return 0;
        }
    }

    get fightersFinished(): boolean {
        if (this.fighters.length === 0) {
            return false;
        }

        for (const fighter of this.fighters) {
            if (fighter.hasTurns) {
                return false;
            }
        }

        return true;
    }

    readyFighters() {
        this.fighters.forEach((f) => f.reload())
    }

    advanceEnemies() {
        this.enemies.forEach((e) => e.advance());
    }

    get isWin(): boolean {
        for (const enemy of this.enemies) {
            if (enemy.hp > 0) {
                return false;
            }
        }

        return true;
    }

    get isLoose(): boolean {
        for (const enemy of this.enemies) {
            if (enemy.isDead) {
                continue;
            }

            if (enemy.pos.y >= this.fieldHeight) {
                return true;
            }
        }

        return false;
    }

    get battleFinished(): boolean {
        return this.isLoose || this.isWin;
    }

    @Watch('battleFinished')
    onBattleFinishedChange(newValue: boolean): void {
        if (newValue) {
            const detail = {
                isWin: this.isWin,
                isLoose: this.isLoose,
            };
            const event = new CustomEvent('battleFinished', {detail});
            document.body.dispatchEvent(event);
        }
    }

    onAim(weapon: Weapon) {
        if (this.currentWeapon === weapon) {
            this.currentWeapon = null;
        } else {
            this.currentWeapon = weapon;
        }
    }

    onFire(pos: IPos) {
        for (let x = 0; x < this.reticle; x++) {
            for (const enemy of this.enemies) {
                if (pos.x + x === enemy.pos.x && pos.y === enemy.pos.y) {
                    enemy.damage(this.currentWeapon!.damage, this.currentWeapon!.type);
                }
            }
        }

        this.currentWeapon!.hasFired = true;
        this.currentWeapon = null;

        if (this.fightersFinished) {
            this.advanceEnemies();

            if (!this.isWin && !this.isLoose) {
                this.readyFighters();
            }
        }
    }
}
</script>

<style lang="stylus" scoped>
.app {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;

    .fighters {
        margin-left: 0;
        padding-left: 0
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }
}
</style>
