<template>
    <div class="shade">
        <p v-if="isWin" style="color: green; font-size: 150%">Вы победили!</p>
        <p v-if="isLoose" style="color: darkred; font-size: 150%">Машины одержали верх...</p>
        <button @click="$emit('replay')">Начать заново</button>
        <p>Спасибо за участие в бета-тестировании:)</p>
    </div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class BattleFinished extends Vue {
    @Prop(Boolean)
    isWin!: boolean;

    @Prop(Boolean)
    isLoose!: boolean;
}
</script>

<style scoped lang="stylus">
.shade {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: hsla(0, 0%, 10%, 0.9);
    z-index: 20;

    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}
</style>
