<template>
    <details style="margin-bottom: 2em; margin-top: 1ex; font-size: 80%; width: 100%; text-align: center;">
        <summary>Пустите, я разработчик</summary>

        <label style="width: 100%; ">
            <p>flying small big, через пробел</p>
            <input type="text" :value="value" style="width: 100%;" @input="$emit('input', $event.target.value)"/>
        </label>
    </details>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class DebugPanel extends Vue {
    @Prop(String)
    value!: string;
}
</script>

<style scoped>

</style>
