<template>
    <article class="enemyField" :style="fieldSize" @mousemove="updateReticle" @click.self="onFire">
        <enemy-item
            v-for="(enemy, index) of enemies"
            :key="`enemy-${index}`"
            :enemy="enemy"
            :cell-size="cellSize"
        />

        <div class="reticle" v-show="reticle > 0 && active" :style="reticlePosition" @click="onFire"></div>

        <div class="enemyInfo" :class="{currentEnemy}" :style="tooltipPos">
            <template v-if="currentEnemy">
                <p class="name">{{ currentEnemy.name }}</p>
                <p>Скорость: <strong>{{ currentEnemy.speed }}</strong></p>
                <p>Целостность: <strong>{{ currentEnemy.hp }} / {{ currentEnemy.maxHp }}</strong></p>
                <p v-show="currentEnemy.maxArmor">Броня: <strong>{{ currentEnemy.armor }} / {{ currentEnemy.maxArmor }}</strong></p>
            </template>
        </div>
    </article>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import {clamp} from '@/clamp';
import {IPos} from '@/IPos';
import {Enemy} from '@/Enemy';
import EnemyItem from '@/components/EnemyItem.vue';

@Component({
    components: {
        EnemyItem,
    }
})
export default class EnemyField extends Vue {
    @Prop(Number)
    width!: number;

    @Prop(Number)
    height!: number;

    @Prop(Number)
    reticle!: number;

    @Prop(Array)
    enemies!: Enemy[];

    @Prop(Boolean)
    active!: boolean;

    @Prop({type: Number, default: 100})
    cellSize!: number;

    reticleX = 0;
    reticleY = 0;

    mouseX = 0;
    mouseY = 0;

    currentEnemy: Enemy | null = null;

    get fieldSize(): object {
        return {
            width: `${this.width * this.cellSize + 1}px`,
            height: `${this.height * this.cellSize + 1}px`,
            '--cell-size': `${this.cellSize}px`,
        }
    }

    get cells(): IPos[] {
        const result = [];

        for (let x = 0; x < this.width; x++) {
            for (let y = 0; y < this.height; y++) {
                result.push({x, y})
            }
        }

        return result;
    }

    get reticlePosition(): object {
        const pos = {
            left: `${this.reticleX * this.cellSize}px`,
            top: `${this.reticleY * this.cellSize}px`,
            width: `${(this.reticle * this.cellSize) - 1}px`,
        }

        return pos;
    }

    cellPosition(cell: IPos): object {
        return {
            left: `${cell.x * this.cellSize}px`,
            top: `${cell.y * this.cellSize}px`
        }
    }

    get tooltipPos(): object {
        const offset = this.cellSize * 0.2;

        return {
            left: `${this.mouseX + offset}px`,
            top: `${this.mouseY + offset}px`,
        };
    }

    updateReticle(event: MouseEvent) {
        if (!this.active) {
            return;
        }

        // get current cell coords
        const {left, top} = this.$el.getBoundingClientRect();
        this.mouseX = event.clientX - left;
        this.mouseY = event.clientY - top;
        const logicalX = Math.floor( this.mouseX / this.cellSize);
        const logicalY = Math.floor( this.mouseY / this.cellSize);

        this.updateCurrentEnemy({x: logicalX, y: logicalY});

        // update reticle if present
        if (this.reticle > 0) {
            const reticleX = clamp(0, this.width - this.reticle, logicalX);
            const reticleY = clamp(0, this.height - 1, logicalY);

            this.reticleX = reticleX;
            this.reticleY = reticleY;
        }
    }

    updateCurrentEnemy(cell: IPos): void {
        let foundEnemy = null;
        for (const enemy of this.enemies) {
            if (enemy.pos.x === cell.x && enemy.pos.y === cell.y) {
                foundEnemy = enemy;
                break;
            }
        }
        this.currentEnemy = foundEnemy;
    }

    onFire() {
        if (!this.active) {
            return;
        }
        this.$emit('fire', {x: this.reticleX, y: this.reticleY})
    }
}
</script>

<style lang="stylus">
.enemyField {
    position: relative;

    background-repeat: repeat;
    background-size: var(--cell-size) var(--cell-size);
    background-image:
        linear-gradient(to right, silver 1px, transparent 1px),
        linear-gradient(to bottom, silver 1px, transparent 1px);

    border-bottom: 3px solid red;
    margin-bottom: var(--cell-size);

    .reticle {
        position: absolute;
        width: calc(var(--cell-size) - 1px);
        height: calc(var(--cell-size) - 1px);
        outline: 2px solid dodgerblue;
        z-index: 10;
        opacity: 0;
        margin: 1px 0 0 1px;
        transition: opacity 150ms ease-in-out;
        cursor: crosshair;
    }

    &:hover {
        .reticle {
            opacity: 1;
        }
    }

    .enemyInfo {
        position: absolute;
        width: 0;
        height: 0;
        border: 1px solid;
        box-shadow: 0 0 1em currentColor;
        font-size: 80%;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
        padding: 0;
        z-index: 20;
        background-color: var(--bg-color);

        &.currentEnemy {
            opacity: 1;
            min-width: calc(var(--cell-size) * 1.5);
            height: auto;
            padding: 1em;
        }

        p {
            margin: 0;

            &.name {
                font-weight: bold;
                text-transform: capitalize;
                margin-bottom: 1ex;
            }
        }
    }
}
</style>
