<template>
    <article class="enemyItem" :style="pos">
        <component :is="iconComponent" class="icon" :class="iconClass"/>
        <template v-if="!enemy.isDead">
            <icon-health
                v-for="heart of enemy.maxHp"
                :key="heart"
                class="heart"
                :has-damage="heart > enemy.hp"
                :has-armor="heart > enemy.maxHp - enemy.armor"
                :style="{right: `${(heart - 1) * (cellSize * 0.15)}px`}"
            />
        </template>
    </article>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import {Enemy, FlyingEnemy, SmallEnemy} from '@/Enemy';
import IconBigEnemy from '@/components/icon/IconBigEnemy.vue';
import IconFlyingEnemy from '@/components/icon/IconFlyingEnemy.vue';
import IconSmallEnemy from '@/components/icon/IconSmallEnemy.vue';
import {VueConstructor} from 'vue';
import IconHealth from '@/components/icon/IconHealth.vue';
import IconExplosion from '@/components/icon/IconExplosion.vue';

@Component({
    components: {
        IconExplosion,
        IconHealth,
        IconSmallEnemy,
        IconFlyingEnemy,
        IconBigEnemy,
    }
})
export default class EnemyItem extends Vue {
    @Prop({type: Object, validator(val: any) { return val instanceof Enemy}})
    enemy!: Enemy;

    @Prop({type: Number, default: 100})
    cellSize!: number;

    get iconComponent(): VueConstructor {
        if (this.enemy.hp === 0) {
            return IconExplosion;
        } else if (this.enemy instanceof FlyingEnemy) {
            return IconFlyingEnemy;
        } else if (this.enemy instanceof SmallEnemy) {
            return IconSmallEnemy;
        } else {
            return IconBigEnemy;
        }
    }

    get iconClass(): string {
        if (this.enemy.hp === 0) {
            return 'explosion';
        } else if (this.enemy instanceof FlyingEnemy) {
            return 'flying';
        } else if (this.enemy instanceof SmallEnemy) {
            return 'small';
        } else {
            return 'big';
        }
    }

    get pos(): object {
        return {
            left: `${this.enemy.pos.x * this.cellSize}px`,
            top: `${this.enemy.pos.y * this.cellSize}px`,
        }
    }

    get info(): string {
        if (this.enemy.isDead) {
            return '';
        }

        const speed = `Скорость: ${this.enemy.speed}`
        const structure = `Структурная целостность: ${this.enemy.hp}/${this.enemy.maxHp}`;
        const armor = `Броня: ${this.enemy.maxArmor ? `${this.enemy.armor}/${this.enemy.maxArmor}` : 'отсутствует'}`;

        return [speed, structure, armor].join('\n')
    }
}
</script>

<style scoped lang="stylus">
.enemyItem {
    position: absolute;
    width: var(--cell-size);
    height: var(--cell-size);
    transition: top 350ms ease-in-out;

    @keyframes fade {
        from {
            opacity: 1;
            fill: OrangeRed;
            width: 120%;
            top: 60%;
        }
    }

    .icon {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        fill: currentColor;

        &.small {
            width: 40%;
        }

        &.flying {
            width: 50%;
        }

        &.big {
            width: 80%;
        }

        &.explosion {
            animation: fade 1.5s ease-in-out;
            opacity: 0;
            fill: SlateGray;
            width: 10%;
            top: 40%;
        }
    }

    .heart {
        position: absolute;
        padding-bottom: 3px;
        padding-right: 3px;
        bottom: 0;
        width: 15%;
    }
}
</style>
