<template>
    <li class="fighterItem" :class="{inactive: !fighter.hasTurns || !active}">
        <span class="name">{{ fighter.name }}</span>
        <ul class="weapons">
            <weapon-item
                v-for="(weapon, index) of fighter.weapons"
                :key="index"
                :weapon="weapon"
                :current-weapon="currentWeapon"
                @aim="onAim"
            />
        </ul>
    </li>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';

import {Fighter} from '@/Fighter';
import {Weapon} from '@/Weapon';
import WeaponItem from '@/components/WeaponItem.vue';

@Component({
    components: {
        WeaponItem,
    },
})
export default class FighterItem extends Vue {
    @Prop({type: Object, validator(val: any) {return val instanceof Fighter}})
    fighter!: Fighter;

    @Prop({type: Object, validator(val: any) { return val === null || val instanceof Weapon}})
    currentWeapon!: Weapon | null;

    @Prop(Boolean)
    active!: boolean;

    onAim(weapon: Weapon) {
        this.$emit('aim', weapon);
    }
}
</script>

<style lang="stylus" scoped>
.fighterItem {
    text-align: center;

    & + .fighterItem {
        border-left: 1px solid;
    }

    .name {
        cursor: default;
    }

    &.inactive {
        .name {
            opacity: 0.6;
        }

        .weapons {
            pointer-events: none;
            opacity: 0.6;
        }
    }

    .weapons {
        margin-left: 0;
        padding-left: 0;
        list-style-type: none;
        display: flex;
        flex-direction: row;
    }
}
</style>
