<template>
    <li class="weaponItem" :class="{hasFired: weapon.hasFired, isCurrent: weapon === currentWeapon}" @click="onReticleClick(weapon)">
        <component :is="iconComponent" class="icon"/>
        <p class="info">
            <span class="name">{{ weapon.name }}</span>
            <span class="damage">Урон: {{weapon.damage}}</span>
            <span class="size">Охват: {{ weapon.size }}</span>
            <span class="type">{{ weapon.type === 'blast' ? 'Бронебойный' : '' }}</span>
        </p>
        <icon-reticule class="reticle"/>
    </li>
</template>

<script lang="ts">
import {VueConstructor} from 'vue';
import {Vue, Component, Prop} from 'vue-property-decorator';

import IconReticule from '@/components/icon/IconReticule.vue';
import {AssaultRifleWeapon, MachineGunWeapon, Weapon} from '@/Weapon';
import IconWeaponAssaultRifle from '@/components/icon/IconWeaponAssaultRifle.vue';
import IconWeaponMachineGun from '@/components/icon/IconWeaponMachineGun.vue';
import IconWeaponUnderbarrel from '@/components/icon/IconWeaponUnderbarrel.vue';

@Component({
    components: {
        IconWeaponUnderbarrel,
        IconWeaponMachineGun,
        IconWeaponAssaultRifle,
        IconReticule,
    },
})
export default class WeaponItem extends Vue {
    @Prop({type: Object, validator(val: any) {return val instanceof Weapon}})
    weapon!: Weapon;

  @Prop({type: Object, validator(val: any) { return val === null || val instanceof Weapon}})
  currentWeapon!: Weapon | null;

    onReticleClick(weapon: Weapon) {
        if (!this.weapon.hasFired) {
            this.$emit('aim', weapon);
        }
    }

    get iconComponent(): VueConstructor {
        if (this.weapon instanceof AssaultRifleWeapon) {
            return IconWeaponAssaultRifle;
        } else if (this.weapon instanceof MachineGunWeapon) {
            return IconWeaponMachineGun;
        } else {
            return IconWeaponUnderbarrel;
        }
    }
}
</script>

<style lang="stylus" scoped>
.weaponItem {
    width: 6em;
    cursor: pointer;

    .info {
        font-size: 70%;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
        margin-top: 0;

        span {
            display: block;
            min-height: 2ex;
        }

        .name {
            font-weight: bold;
        }

        .type {
            font-style: italic;
        }
    }

    .icon {
        width: 3.5em;
        fill: currentColor;
    }

    &.hasFired {
        opacity: 0.6;
        cursor: not-allowed;
        .info {
            opacity: 0 !important;
        }
    }

    .reticle {
        opacity: 0;
        transition: all 150ms ease-in-out;
    }

    &.isCurrent {
        .reticle {
            opacity: 1;
        }

        .info {
            opacity: 1;
        }
    }

    &:hover {
        text-shadow: 0 0 1ex dodgerblue;

        .info {
            opacity: 1;
        }
    }
}
</style>
